.container {
  max-width: 1200px;
  margin: 0 auto;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

header {
  padding: 15px 0;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      height: 50px;
    }
    input {
      border: none;
      width: 40%;
      background-color: #f3f5f5;
      height: 35px;
      padding-left: 10px;
    }

    button {
      padding: 10px 20px;
      border-radius: 5px;
    }
    .connexion {
      display: flex;
      gap: 25px;

      button {
        color: #007783;
        border: #007783 solid 1px;
      }
    }

    .sell-your-articles {
      background-color: #007783;
      color: white;
    }
  }
}

.offers {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  .offer {
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .picture {
      height: 350px;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .owner {
      display: flex;
      gap: 10px;
      align-items: center;
      height: 30px;

      .owner-pic {
        height: 30px;
        width: 30px;
        border-radius: 50%;

        img {
          border-radius: 50%;
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

.offer-container {
  background-color: #f3f5f5;
  padding: 30px 0;
  display: flex;
  justify-content: space-around;

  .offer-picture,
  .offer-infos {
    width: 450px;
    height: 650px;
    overflow: hidden;
  }

  .offer-infos {
    padding: 30px;
    background-color: white;
  }
}
